Source: cyclozzo-ose
Maintainer: Sreejith K <sreejith.kesavan@k7cloud.com>
Section: net
Priority: extra
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4), cyclozzo-sdk (>=1.0.138), cyclozzo-runtime (>=1.0.1), cyclozzo-appserver (>=1.0.1), hypertable (>= 0.9.5.0), hadoop-0.20 ( >= 0.20.2+737)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: cyclozzo-ose
Architecture: all
Homepage: http://gostackless.com
Depends: ${misc:Depends}, ${python:Depends}, cyclozzo-sdk (>=1.0.138), cyclozzo-runtime (>=1.0.1), cyclozzo-appserver (>=1.0.1), hypertable (>= 0.9.5.0), hadoop-0.20 ( >= 0.20.2+737), memcached (>=1.4.2)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: It is an open source Platform-as-a-Service offering for your private
 cloud. Cyclozzo-OSE enables you to run instances of application
 developed using GAE(TM) Python SDK. Cyclozzo-lite provides you with
 complete cluster management for deployment, configuration and
 management. Upload your code and start your application instance to have
 your own standard compliant private platform.
