Source: cyclozzo-appserver
Maintainer: Sreejith Kesavan <sreejith.kesavan@k7cloud.com>
Section: net
Priority: extra
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4), cyclozzo-sdk (>=1.0.138), cyclozzo-runtime (>=1.0.1)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: cyclozzo-appserver
Architecture: all
Homepage: http://gostackless.com
Depends: ${misc:Depends}, ${python:Depends}, cyclozzo-sdk (>=1.0.138), cyclozzo-runtime (>=1.0.1)
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: It is a non-blocking tornado application server to run instances of
 application written in GAE(TM) Python SDK. Cyclozzo-appserver provides a
 sandboxed environment for application. Application code caching is
 in-built for improved performance. Appserver is normally made to serve
 applications in different server and port for scalability. A load
 balancer can be deployed for distributing the load across the instances.

